<div class="card text-center" style="border: 0">
  <h4 class="card-header" style="background: rgb(167, 164, 164);"><span style="color: white">QuizBuilder App</span></h4>
  <div class="card-body"style="background-image: linear-gradient(#00C7D0, #428bca);">
    <span>My first excersize in building an Angular2 website,
      <br>hosting with <a href="https://firebase.google.com/" style="color: red">Firebase</a> and using
      <a href="https://cloud.google.com/firestore/" style="color: red">Firestore</a> 
      <br> to store the noSQL database used by the app.
    </span><br><br>
    <div class="fb-share-button" data-href="https://quiz-builder-18446.firebaseapp.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fquiz-builder-18446.firebaseapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
</div>
