<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <ul class="nav nav-pills">
        <a class="navbar-brand" routerLink="/about">Quizzy Wizzy</a>
            <ul class="nav nav-pills">
        <li class="navPill"></li>
                <li class="nav-item"><a class="nav-item nav-link" routerLink="" [ngClass]="{'active': route === '/home'}">Your Quiz</a></li>
                <li class="navPill"></li>
                <li class="nav-item"><a class="nav-item nav-link" routerLink="/example" [ngClass]="{'active': route === '/example'}">Example Quiz</a></li>
                <li class="navPill"></li>
                <li class="nav-item"><a class="nav-item nav-link" routerLink="/build-quiz"  [ngClass]="{'active': route === '/yourQuiz'}">Make a Quiz</a></li>
                <li class="navPill"></li>
            </ul>
</ul>
       <h6><span class="badge badge-secondary">{{visitStamp}}</span></h6>
    </div>
    </nav>
<router-outlet></router-outlet>